body {
    background-color: #2E2C2F;
    color: black;
    font-size: 1.2em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

main {
    background-color: #F3E8EE;
    width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 10%;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

input#txtvel {
    height: 25px;
    font-size: 17px;
}

.botao {
    width: 160px;
    height: 35px;
    margin: 20px;
    border: none;
    background-color: #20BF55;
    font-size: 1em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    
}

.botao:hover {
    background-color: #169641;
}